<!DOCTYPE html>
<html>
  <head>
    <title>Compound Interest Calculator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag '/dist/bundle' %>
  </body>
</html>
